<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
<style>
body {
    font-family: 'Montserrat';font-size: 22px;
}
</style>
</head>
<body>
<!-- Header - set the background image for the header in the line below
<div class="navbar-banner">
  <img src="/assets/img/hero image-01.png" id="header_banner" alt="logo" />
</div>
 -->

<div>
  <carousel>
    <slide>
      <img src="assets/img/hero image-01.png" alt="first slide" style="display: block; width: 100%;">
    </slide>
    <slide>
      <img src="assets/img/product page banner-01.png" alt="second slide" style="display: block; width: 100%;">
    </slide>
    <!-- <slide>
      <img src="assets/img/3.jpg" alt="third slide" style="display: block; width: 100%;">
    </slide> -->
  </carousel>
</div>

<br>

  <div class="container">

    <h3>FEATURED PRODUCTS</h3>
    <div class="col-lg-4 col-md-6 col-xs-6 thumb">
      <a href="/product-list?category=Copy%20%26%20Prints">
        <img
          src="/assets/img/105_Copies_and_Prints.jpg"
          class="w-100 shadow-1-strong rounded "
          alt=""
        />
      </a>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-6 thumb">
        <a href="/product-list?category=Posters">
        <img
          src="/assets/img/116_posters.jpg"
          class="w-100 shadow-1-strong rounded "
          alt=""
        />
      </a>
      </div>

      <div class="col-lg-4 col-md-6 col-xs-6 thumb  ">
        <a href="/product-list?category=Flyers%20%26%20Brochures">
        <img
        src="/assets/img/108_flyers and brochures.jpg"
        class="w-100 shadow-1-strong rounded "
        alt=""
      />
      </a>
      </div>

  </div>

