<!--header-->

<header>
  <div class="navbar">

    <div class="navbar-brand">
      <a class="navbar-item">
            <!--  social media logo-->
         <!--<div class="container social-links">
          <div class="container social-icons-1">
            <a
              href="https://www.facebook.com"
              target="_blank"
              class="social-image social-icon-1-1"
            >
              <img
                class="social-icon"
                src="/assets/img/webicon-facebook.png"
                alt="Social Icon"
                style="width: 30px; height: 30px"
            /></a>
            <a
              href="https://www.twitter.com"
              target="_blank"
              class="social-image social-icon-1-1"
            >
              <img
                class="social-icon"
                src="/assets/img/webicon-twitter.png"
                alt="Social Icon"
                style="width:30px;height:30px float:left margin:0"
            /></a>
            <a
              href="https://www.google.com"
              target="_blank"
              class="social-image social-icon-1-1"
            >
              <img
                class="googleplus-icon"
                src="/assets/img/webicon-googleplus.png"
                alt="Social Icon"
                style="width: 30px; height: 30px"
            /></a>
            <a
              href="https://www.linkedin.com"
              target="_blank"
              class="social-image social-icon-1-1"
            >
              <img
                class="linkedin-icon"
                src="/assets/img/webicon-linkedin.png"
                alt="Social Icon"
                style="width: 30px; height: 30px"
            /></a>
            <a
              href="https://www.youtube.com"
              target="_blank"
              class="social-image social-icon-1-1"
            >
              <img
                class="youtube-icon"
                src="/assets/img/webicon-youtube.png"
                alt="Social Icon"
                style="width: 30px; height: 30px"
            /></a>
            <a
              href="https://www.instagram.com"
              target="_blank"
              class="social-image social-icon-1-1"
            >
              <img
                class="instagram-icon"
                src="/assets/img/webicon-instagram.png"
                alt="Social Icon"
                style="width: 30px; height: 30px"
            /></a>
            contact us
          </div>
        </div>-->
          <!--logo-->
        <img src="/assets/img/ah-logo.png" id="img_logo" alt="logo" />
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/product-list">Products</a></li>

            <li><a href="/sign-up">Create Account</a></li>
            <li><a href="/sign-in">Login</a></li>
          </ul>
        </nav>
      </a>
    </div>
  </div>
</header>
