@font-face {
  font-family: 'Montserrat'; /*a name to be used later*/
  src: url('https://fonts.googleapis.com/css?family=Montserrat'); /*URL to font*/
}


header {
  background-color: white;
  color:#67B0FF;
  font-family: 'Montserrat', sans-serif;

}
.header {
  height: 115px;
}

#img_logo {

  float: left;
  width: 360px;
  height: 95px;

}


.navbar-brand > ul > li > a {
  font-size: 2.5rem;
  color:#67B0FF;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}


#shopping_cart{
  width: 43px;
height: 34px;
}
#badge bg-secondary rounded-pill{
  width: 51px;
  height: 41px;
}

