<!--header-->

<header>
  <div class="navbar">

    <div class="navbar-brand">
      <a class="navbar-item">

        <img src="/assets/img/logo-01.png" id="img_logo" alt="img_logo" />
        <nav>
          <ul>
            <li><a routerLink="/homepage">HOME</a></li>
            <li><a routerLink="/product-list">PRODUCTS</a></li>
            <li><a routerLink="/sign-in">LOGIN/SIGN UP </a></li>
            <li><a routerLink="/customer-dashboard">ACCOUNT</a></li>
            <li><a routerLink="/shopping-cart">
              <img src="/assets/img/shopping cart icon-01.png" id="shopping_cart" alt="shopping_cart" />
              <span class="badge bg-secondary rounded-pill">{{shoppingCartTotal}}</span></a></li>
          </ul>
        </nav>

      </a>
    </div>
  </div>


</header>
