<div>
  <h1>Update Product</h1>
  <br />
  <form action="" #f='ngForm' [formGroup]="productForm" (ngSubmit)="onSubmit()" class="container">
      <div class="form-row">
          <div class="form-group col-5">
            <label>Product Category</label>
            <select formControlName="category" class="form-control" [(ngModel)]="product.category"  [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
              <option *ngFor="let cate of categories" [value]="cate">{{cate}}</option>
            </select>
            <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required">Product Category is required</div>
            </div>
          </div>
          <div class="form-group col-5">
              <label>Product Name</label>
              <input type="text" formControlName="product_name" class="form-control" [(ngModel)]="product.product_name" [ngClass]="{ 'is-invalid': submitted && f.product_name.errors }" />
              <div *ngIf="submitted && f.product_name.errors" class="invalid-feedback">
                  <div *ngIf="f.product_name.errors.required">Product Name is required</div>
              </div>
          </div>
          <div class="form-group col-5">
            <label>Product Price</label>
            <input type="number" step="0.01" min="0" formControlName="product_price" class="form-control" [(ngModel)]="product.product_price" [ngClass]="{ 'is-invalid': submitted && f.product_price.errors }" />
            <div *ngIf="submitted && f.product_price.errors" class="invalid-feedback">
                <div *ngIf="f.product_price.errors.required">Product Price is required</div>
            </div>
          </div>
          <div class="form-group col-5">
            <label>Product Quantity</label>
            <input type="number" formControlName="product_quantity" class="form-control" [(ngModel)]="product.product_quantity" [ngClass]="{ 'is-invalid': submitted && f.product_quantity.errors }" min="0" max="999999"/>
            <div *ngIf="submitted && f.product_quantity.errors" class="invalid-feedback">
                <div *ngIf="f.product_quantity.errors.required">Product Quantity is required</div>
            </div>
          </div>
          <div class="form-group col-10">
            <label>Product Description</label>
            <textarea formControlName="product_description" class="form-control" [(ngModel)]="product.product_description" [ngClass]="{ 'is-invalid': submitted && f.product_description.errors }" rows="4" cols="50"></textarea>
            <div *ngIf="submitted && f.product_description.errors" class="invalid-feedback">
                <div *ngIf="f.product_description.errors.required">Product Description is required</div>
            </div>
          </div>
          <div class="form-group col-3">
            <label>Product Image</label>
            <input type="file" formControlName="product_img" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.product_img.errors }" accept="image/*"/>
            <div *ngIf="submitted && f.product_img.errors" class="invalid-feedback">
                <div *ngIf="f.product_img.errors.required">Product Image is required</div>
            </div>
          </div>
      </div>

      <div class="form-group">
          <button type="submit" [disabled]="loading" class="btn btn-primary mr-2">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Update
          </button>
          <a routerLink="/admin/products" href="" class="btn btn-link">Cancel</a>
      </div>
  </form>

</div>
<!-- <div>
  <h1>Update Product</h1>
  <br />
  <form action="" #f='ngForm' (ngSubmit)="onSubmit()" class="container">
      <div class="form-row">
          <div class="form-group col-5">
            <label>Product Category</label>
            <select name="category" class="form-control" [(ngModel)]="product.category">
              <option *ngFor="let cate of categories" [value]="cate">{{cate}}</option>
            </select>
            <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
                <div *ngIf="f.category.errors.required">Product Category is required</div>
            </div>
          </div>
          <div class="form-group col-5">
              <label>Product Name</label>
              <input type="text" name="product_name" class="form-control" [(ngModel)]="product.product_name" />
          </div>
          <div class="form-group col-5">
            <label>Product Price</label>
            <input type="number" step="0.01" min="0" name="product_price" class="form-control" [(ngModel)]="product.product_price" />
          </div>
          <div class="form-group col-5">
            <label>Product Quantity</label>
            <input type="number" name="product_quantity" class="form-control" [(ngModel)]="product.product_quantity" min="0" max="999999"/>
          </div>
          <div class="form-group col-10">
            <label>Product Description</label>
            <textarea name="product_description" class="form-control" [(ngModel)]="product.product_description" rows="4" cols="50"></textarea>
          </div>
          <div class="form-group col-3">
            <label>Product Image</label>
            <input type="file" (change)="selectFile($event)" formControlName="product_img" class="form-control" accept="image/*"/>
          </div>
      </div>

      <div class="form-group">
          <button type="submit" [disabled]="loading" class="btn btn-primary mr-2">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Update
          </button>
          <a routerLink="/admin/products" href="" class="btn btn-link">Cancel</a>
      </div>
  </form>

</div> -->
