<div class="container">
  <h1>Product Information</h1>
  <!--<a (click)="addUser()" class="btn btn-primary mb-3">add</a>-->
  <div class="container row">
    <div   class="col-md-6">
    <table class="table">
      <thead>
      <tr>
        <th>Product Name</th>
        <th>Category</th>

        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let product of products" [product]="product">
        <td>{{product.product_name}}</td>
        <td>{{product.product_detail}}</td>

         <!-- <button type="button" (click)="onDelete()" [disabled]="deleting" class="btn btn-danger">
            <span *ngIf="deleting" class="spinner-border spinner-border-sm mr-1"></span>
            Delete
        </button> -->
        <td><button (click)="deleteProduct(user.email)" type="button" class="btn btn-primary">Delete Product</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div   class="col-md-6">
    </div>

  </div>

