/* You can add global styles to this file, and also import other style files */

/*@import"~bootstrap/dist/css/bootstrap.css";*/
body:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
  z-index: 100;
}

body {
  font-family: "ABeeZee", Helvetica, sans-serif;
}

@media only screen and (max-width: 900px) {
  html,
  body {
    margin-left: 0;
    margin-right: 0;
    background-color: lightblue;
  }
}
