/* You can add global styles to this file, and also import other style files */

/*@import"~bootstrap/dist/css/bootstrap.css";*/
/* html, body {
  margin-left: 15%;
  margin-right: 15%;
} */
@media only screen and (max-width: 900px) {
  html, body {
  margin-left: 0;
  margin-right: 0;
    background-color: lightblue;
  }
}
