.container-fluid{
  width: 30%;
    height:auto;
    margin: 30px 50px 50px 150px;
    padding: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size:16px;
    border-radius: 5px;
    box-shadow: 0 0 5px 5px lightgrey;

}

.sign_in {
  background: url(/assets/img/sign_in.jpg);
  background-repeat: no-repeat;
  background-size: auto;
}

.heading { color:whitesmoke; }
