<footer class="footer">
  <div class="row footer-container">
    <div class="footer_col">
      <h5 class="footer-title">
        About&nbsp;<span class="blue-mini">Us</span>
      </h5>
      <p class="paragraph footer-paragraph">
        We works hard to build solid customer relationships, we build&nbsp; our
        reputation on customer&nbsp; satisfaction and trust. Our goal is to
        provide customers the best&nbsp; value&nbsp;for their money.
      </p>
    </div>

    <div class="footer_col">
      <h5 class="footer-title">
        Services&nbsp;<span class="blue-mini">We Provide</span>
      </h5>
      <ul class="link-list ul-link-1">
        <li class="list-item-link blue-list-item">
          <a href="#">Digital Printing</a>
        </li>
        <li class="list-item-link blue-list-item">
          <a href="#">Full Color Offset Printing</a>
        </li>
        <li class="list-item-link blue-list-item">
          <a href="#">Wide Format Printing</a>
        </li>
        <li class="list-item-link blue-list-item">
          <a href="#">Graphics Designs</a>
        </li>
        <li class="list-item-link blue-list-item">
          <a href="#">Photographing</a>
        </li>
        <li class="list-item-link blue-list-item"><a href="#"></a></li>
      </ul>
    </div>

    <div class="footer_col">
      <h5 class="footer-title">
        Follow&nbsp;<span class="blue-mini">Us</span>
      </h5>
      <div class="container social-icons left">
        <a href="#" target="_blank" class="social-image social-icon-1">
          <img
            class="facebook-icon"
            src="/assets/img/webicon-facebook.png"
            alt="Social Icon"
            style="width: 30px; height: 30px"
        /></a>
        <a href="#" target="_blank" class="social-image social-icon-1">
          <img
            class="twitter-icon"
            src="/assets/img/webicon-twitter.png"
            alt="Social Icon"
            style="width: 30px; height: 30px"
        /></a>
        <a href="#" target="_blank" class="social-image social-icon-1">
          <img
            class="googleplus-icon"
            src="/assets/img/webicon-googleplus.png"
            alt="Social Icon"
            style="width: 30px; height: 30px"
        /></a>
        <a href="#" target="_blank" class="social-image social-icon-1">
          <img
            class="linkedin-icon"
            src="/assets/img/webicon-linkedin.png"
            alt="Social Icon"
            style="width: 30px; height: 30px"
        /></a>
        <a href="#" target="_blank" class="social-image social-icon-1">
          <img
            class="youtube-icon"
            src="/assets/img/webicon-youtube.png"
            alt="Social Icon"
            style="width: 30px; height: 30px"
        /></a>
        <a href="#" target="_blank" class="social-image social-icon-1">
          <img
            class="instagram-icon"
            src="/assets/img/webicon-instagram.png"
            alt="Social Icon"
            style="width: 30px; height: 30px"
        /></a>
      </div>
    </div>

    <div class="footer_col">
      <h5 class="footer-title">
        Contact&nbsp;<span class="blue-mini">Us</span>
      </h5>
      <address class="address-1 container address">
        E-mail: <a href="mailto:xliu285@myseneca.ca">info@ahprinting.ca</a><br/>
        <p class="paragraph address-paragraph address-1">
          585 Middlefield&nbsp; Rord, Unit 24-23
          <br />Scarborough, Ontario
          <br />M1V 4Y5
          <br /> 1-(416)-754-3754
      </address>
    </div>
  </div>
</footer>
