footer {
  background-color: #666666;
  color: #fff;
  text-align: center;
  padding: 16px 0px;
  font-size: 0.8rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.footer-container {
  background-color: #666666;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
}

.footer_col {
  padding: 1rem;
}

div>ul>li{

  list-style: none;
}

div>ul>li>a{

  color: white;
}

