<h1>Admin Dashboard</h1>
<br>
<div class="container row">
  <div class="col-md-6">
    <table class="table">
      <tbody>
        <tr>
          <td>
            <a href="/profile">
              <button type="button" class="btn btn-primary">Admin Profile</button>
            </a>
          </td>

        </tr>

        <tr>
          <td>
            <a href="/admin/users">
              <button type="button" class="btn btn-primary">User Management</button>
            </a>
          </td>

        </tr>
        <tr>

          <td>
            <a href="/admin/orders">
              <button type="button" class="btn btn-primary">Order Management</button>
            </a>
          </td>

        </tr>
        <tr>

          <td>
            <a href="/admin/products">
              <button type="button" class="btn btn-primary">Product Management</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-6">
