<div class="container mb-4">
  <main>
    <div class="py-5 text-center">
      <h2>Shopping Cart</h2>
    </div>

    <div class="row g-3">
      <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Summary</span>
          <span class="badge bg-secondary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Product name</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$12</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Second product</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$8</span>
          </li>
          <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
              <h6 class="my-0">Third item</h6>
              <small class="text-muted">Brief description</small>
            </div>
            <span class="text-muted">$5</span>
          </li>
          <li class="list-group-item d-flex justify-content-between">
            <div>
              <h6 class="my-0 mb-1">Total (CAD)</h6>
              <small class="text-muted">*Tax calculated at payment</small>
              <br>
              <small class="text-muted">*Apply promo codes at checkout</small>
            </div>
            <strong>$20</strong>
          </li>
        </ul>

      </div>
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Your Shopping Cart</h4>
        <form class="needs-validation" novalidate>
          <!-- Item -->
          <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">
              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                <a href="#!">
                  <div class="mask waves-effect waves-light">
                    <img class="img-fluid w-100" src="/assets/items/fliers.jpg">
                    <div class="mask rgba-black-slight waves-effect waves-light"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
              <div>
                <div class="d-flex justify-content-between">
                  <div>
                    <h5>Fliers</h5>
                    <p class="mb-3 text-muted text-uppercase small">11x17"</p>
                    <p class="mb-2 text-muted text-uppercase small">Color</p>
                    <p class="mb-3 text-muted text-uppercase small">Double sided</p>
                  </div>
                  <div>
                    <label class="form-label">Quantity:</label>
                    <select class="form-select" required>
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10+</option>
                    </select>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                        class="fas fa-trash-alt mr-1"></i> Remove item </a>
                  </div>
                  <p class="mb-0"><span><strong>$17.99</strong></span></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Item -->
          <hr class="my-4">
          <!-- Item -->
          <div class="row mb-4">
            <div class="col-md-5 col-lg-3 col-xl-3">
              <div class="view zoom overlay z-depth-1 rounded mb-3 mb-md-0">
                <a href="#!">
                  <div class="mask waves-effect waves-light">
                    <img class="img-fluid w-100" src="/assets/items/business_cards.jpg">
                    <div class="mask rgba-black-slight waves-effect waves-light"></div>
                  </div>
                </a>
              </div>
            </div>
            <div class="col-md-7 col-lg-9 col-xl-9">
              <div>
                <div class="d-flex justify-content-between">
                  <div>
                    <h5>Business Cards</h5>
                    <p class="mb-3 text-muted text-uppercase small">Custom Print</p>
                    <p class="mb-2 text-muted text-uppercase small">Color: Cream white</p>
                    <p class="mb-3 text-muted text-uppercase small">Size: Standard</p>
                  </div>
                  <div>
                    <label class="form-label">Quantity:</label>
                    <select class="form-select" required>
                      <option selected>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                      <option>6</option>
                      <option>7</option>
                      <option>8</option>
                      <option>9</option>
                      <option>10+</option>
                    </select>
                  </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                  <div>
                    <a href="#!" type="button" class="card-link-secondary small text-uppercase mr-3"><i
                        class="fas fa-trash-alt mr-1"></i> Remove item </a>
                  </div>
                  <p class="mb-0"><span><strong>$17.99</strong></span></p>
                </div>
              </div>
            </div>
          </div>
          <!-- Item -->
          <hr class="my-4">

          <h4 class="mb-3">Payment</h4>

          <div class="my-3">
            <p>Currently only PayPal is accepted when placing online orders.</p>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="action()">Continue to checkout</button>
        </form>
      </div>
    </div>
  </main>
</div>
